---
const src = "/svg/stereoknife.svg"
const {link} = Astro.props;
---
{
	link ?
		<a id="scroll" href="/">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
		</a>
	:
		<div id="scroll" href="/">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
			<img src={src} alt="">
		</div>
}
<style>
	a, div {
		display: none;
		
		height: 100%;
		position: relative;
		padding: 0 1.2rem;
		overflow: hidden;
		background: transparent;
	}
	
	a {
		cursor: url(/cursor/cross.png) 20 20, default;
	}
	
	img {
		display: block;
		position: relative;
		
		animation-duration: 5s;
		animation-name: scroll;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		height: 170px;
		margin-bottom: 1.5rem;
	}
	
	@media (min-width: 768px) {
		a, div {
			display: block;
		}
	}
	
	@keyframes scroll {
		from {
			top: 0;
		}
		
		to {
			top: calc(-170px - 1.5rem);
		}
	}
</style>